<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Entity.Northwind.csdl|res://*/Entity.Northwind.ssdl|res://*/Entity.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=Northwind;persist security info=True;user id=sa;password=pass123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>