<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Entity.Northwind.csdl|res://*/Entity.Northwind.ssdl|res://*/Entity.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=Northwind;persist security info=True;user id=sa;password=pass123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!--效能標準(毫秒), 透過LogHelper執行Method, 執行時間超過此設定值即會產生警告Log -->
    <add key="PerformanceBound" value="3000"/>
    <!--log4net內部錯誤輸出是否啟用, 會輸出至console及diagnostics -->
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <log4net configSource="log4net.config"/>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs\trace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
